.church-page
  .full-width-title
    %p
      Bethal Luthern Church
.row.lightgrey-background
  .column.small-12.medium-6
    .info
      %h1
        Information
      %hr
      %p
        Time: 4:30 p.m.
      %hr
      %p
        Attire: Semi-Formal
      %hr
  .column.small-12.medium-6
    .map
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12464.181480161671!2d-90.3161847!3d38.6478371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb9fed9aabfa8459!2sBethel+Lutheran+Church!5e0!3m2!1sen!2sus!4v1455570271328", :style => "border:0", :width => "100%"}
