.lightgrey-background
  .row
    .column.small-6
      .hotel-image
        %img{src: 'http://ihg.scene7.com/is/image/ihg/uhf_ex_logo@2x?fmt=png-alpha'}
      %br
      %h3 Standard Room: $129
      %h4 Code: BOW
      %p
        Registration link:
        = link_to 'Holiday Inn Express', 'https://www.hiexpress.com/redirect?path=hd&brandCode=ex&localeCode=en&regionCode=1&hotelCode=STLLN&_PMID=99801505&GPC=BOW'
      %hr
      .div
        = link_to 'Holiday Inn Express Directions', 'https://www.google.com/maps/place/Holiday+Inn+Express+St.+Louis+Central+West+End/@38.6426839,-90.2630226,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b4d7f3a2a8bb:0xc03677a2d35cd81f!8m2!3d38.6426839!4d-90.2608339'
      .div
        3.1 Miles to Church
      .div
        1.8 Miles to Reception
      %hr
      %p
        Come and stay at the recently rejuvinated Holiday Inn Express® St. Louis – Central West End. Whether traveling for business or an overnight stay, this St. Louis, Missouri hotel provides premium guest amenities, excellent service and convenient access to explore area attractions.
        You’ll enjoy a comfortable stay at our smoke-free hotel in the Central West End area less than a mile away from the well-known Forest Park neighborhood. We are located near the Barnes Jewish Hospital and 11 miles from the STL airport. Spend the day relaxing inside the comforts of your hotel room or visiting attractions like the St. Louis Zoo, the St. Louis Science Center, the World Chess Hall of Fame and the St. Louis Gateway Arch monument.

    .column.small-6
      .hotel-image
        %img{src: 'http://phgcdn.com/images/uploads/STLTC/logo/chase-park-plaza-logo.gif'}
      %br
      %h3 Standard Room: $189
      %h4 Code: 11521E
      %p
        Registration link:
        = link_to 'Chase Park Plaza', 'https://gc.synxis.com/rez.aspx?Hotel=27200&Chain=10237&template=fSTLTC&arrive=10/21/2016&depart=10/23/2016&adult=1&child=0&group=11521E'
      %hr
      .div
        = link_to 'Chase Park Plaza Directions', 'https://www.google.com/maps/place/The+Chase+Park+Plaza/@38.644205,-90.2661555,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b529ab43eb05:0x4621800c24b1f8f4!8m2!3d38.644205!4d-90.2639668'
      .div
        2.9 Miles to Church
      .div
        1.3 Miles to Reception
      %hr
      %p
        In order to receive this special discounted rate for the wedding block, guests must call in-house reservations between the hours of 8:00 a.m. – 7:00 p.m. Mon-Fri and Sat. & Sun. 9:00 a.m. – 4:00 p.m.  Guests will call the in-house reservation department at (314) 633-3014 and refer to the Besemer/Olsen Wedding Block or the group code which is 11521E.  Just as a reminder that your guests have until Wednesday, September 21, 2016 to make their reservation with the guaranteed discounted wedding rate.  After the cutoff date we try our best to offer the wedding rate although there are times that we are unable to offer the rate because of the hotel’s availability.

