.reception-page
  .full-width-title.font-dropshadow
    %p.header-top
      World's Fair Pavilion

.row.lightgrey-background
  .column.small-12.medium-6
    .info
      %h1
        Information
      %hr
      %p
        The World's Fair Pavilion is located in Forest Park
      %hr
      %p
        Time: 5:30 p.m.
      %hr
      %p
        Cocktails, dinner, and dancing
      %hr
      %p
        Parking on site
      %hr
      %p
        Babysitting will be provided on site
      %hr
  .column.small-12.medium-6
    .map
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.540782052567!2d-90.28771968396833!3d38.63644416988721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b541566ad8db%3A0x48b992ec6e7fe641!2sWorld's+Fair+Pavilion!5e0!3m2!1sen!2sus!4v1455570346199", :style => "border:0", :width => "100%"}
