.registry-page
  .full-width-title.font-dropshadow
    %p.header-top REGISTRY
  .subtitle.font-dropshadow
    %p
      THANK YOU FOR THINKING OF US
.registry-info
  %p
    We’re so lucky to be able to spend our wedding day with all of our friends and family; your presence is truly all the present we need. Since we're hardly just starting out, and have all the household goods we need, if you'd like to get us a gift to celebrate we would greatly appreciate any contribution you would like to make towards our honeymoon and some home improvements. For those who prefer to give a more traditional gift we have registered for a few fun items at
    = link_to 'Bed, Bath, and Beyond.', 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543749948'
    You can find our registry on their website by searching our first and last names and the state of Missouri.
